<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Borrando una Editorial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navBar">
        <div class="containerImg">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <!--            <img class="logo" src="/img/Egg.png" alt="Img logo egg">-->
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto elementos">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Libros
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">

                        <li><a class="dropdown-item" th:href="@{/libro/registrar}">Crear Libro</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>
                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Autores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">

                        <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Editoriales
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">

                        <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form th:action="@{/editorial/borrar/__${editorial.id}__}" class="formulario" method="post">

            <input hidden th:value="${editorial.id}" name="id">

            <div class="form-group">
                <h3> Borrar Editorial</h3>
                <label class="mb-2">Nombre de la Editorial: <span th:text="${editorial.nombre}" ></span></label>
            </div>

            <button type="submit" class="btn btn-primary mt-3 botones">Borrar</button>

            <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>


        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>